{% load compress %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-BWSNKG9K7X"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
      
        gtag('config', 'G-BWSNKG9K7X');
      </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Ricardo Wbley, Freelance, Application Developer, wordpress, website, software developer, web development, programming, coding, technology, python, django, cloud computing, API development, digital transformation">
    <meta name="description" content="Ricardo Webley is a freelance developer and software engineer specializing in web development using Python, Django, JavaScript, React, Next.js, and Tailwind CSS.">
    <meta name="robots" content="index, follow">
    <meta name="author" content="Ricardo Webley">
    <meta property="og:title" content="Ricardo Webley - Software Developer">
    <meta property="og:description" content="I'm Ricardo Webley, a skilled software developer specializing in web development, cloud computing, and API development.">
    <meta property="og:image" content="https://objectstorage.us-phoenix-1.oraclecloud.com/n/axwo3hq0a5yt/b/bucket-rwebley-website/o/IMG-20221011-WA0005.jpg">
    <meta property="og:type" content="website"><meta property="og:url" content="https://ricardowebley.com">
    <link rel="canonical" href="{{ request.build_absolute_uri }}">
    <title>Ricardo Webley | Software Developer</title>
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <script type="application/ld+json">
        {
        "@context": "https://schema.org",
        "@type": "Person",
        "name": "Ricardo Webley",
        "jobTitle": "Software Developer",
        "url": "https://ricardowebley.com",
        "image": "https://objectstorage.us-phoenix-1.oraclecloud.com/n/axwo3hq0a5yt/b/bucket-rwebley-website/o/IMG-20221011-WA0005.jpg",
        "sameAs": [
            "https://www.linkedin.com/in/ricardo-webley-jamaica-jamaica/",
            "https://github.com/ricardowebleyjm"
        ]
        }
    </script>

    {% compress css %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    {% endcompress %}

</head>

<body class="">
    
    <div>
        {% block content %}
        {% endblock content %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
</body>

</html>